/* @import url('https://fonts.googleleapis.com/css2?');  */

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  a {
    text-decoration: none;
}
  .active{
    color:#fc036b ;
    text-decoration: underline;
    font-weight: bold;
         
  } 
  
   ul{
    list-style: none;
  }  
/* Navbar */
 .navbar{    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 10%;
   
    justify-content: space-between;
    padding: auto 10px;
    color: whitesmoke;
}
.nav-links li{
    display: flex;
    align-items: center;

}
.nav-links li{
    margin: 10px; ;
}

.header-content{
    width: 100vw;
    height: 100vh; 
    background-image: url('/assets/images/nature1.jpg');      
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center; 
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
      text-align: center;
      display: flex;

}
h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;   
}
h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

@media only screen and (max-width:850px){
    .navbar{
        padding: 0;        
    }
    .logo {
        position: absolute;
        top: 30px;
        left:30px;
        cursor:pointer
    }
    .nav-links{
        flex-direction: column;
        width:50%;
        height: 50vh;
        justify-content: center;
        background: #484872;            
        margin-top: -900px;        
      
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
        
    }
}  
 
    