

<!-- <h1>this is about nature</h1> -->


<nav class="navbar">
    <h1 class="logo">ADVENTURE</h1>
      <ul class="nav-links" >
       
        <li class="active"><a href="/" routerLink="/Home" routerLinkActive="" (click)="Home()">Home</a></li>
        <li><a href="#"></a>Tours</li>
        <li><a href="#"></a>Explore</li>
        <li><a href="#" [routerLink]="['/update']">update</a></li>
        <li class="ctn"><a  href="#"></a>Contact</li>
      </ul>
      
  </nav>
    <header>
      <div class="header-content">
        <div><h2>Explore The Colorful World </h2>
        <div class="line"></div>
        <h1>A WONDERFUL GIFT</h1>
        <a href="#" class="ctn">learn more</a>
      </div>
      </div>
      <div class="text">
        
      </div>
      </header> 
     
  
       <!-- <app-home></app-home> -->
       <!-- <app-department></app-department> -->
<router-outlet></router-outlet>