
<h1>this is about kuntala waterfalls</h1>
<!-- <button (click)="Home()"></button> -->
   
 <!-- <p>
    Kuntala Waterfall is a waterfall in the Indian state of Telangana, located on Kadam river in Neradigonda mandal of Adilabad district.
     It is the highest waterfall in the state with a height of 50 meters.

These waterfalls are in the dense forests inhabited by the Gonds. Kunta in Gondi and Telugu means pond.
 Kuntalu means several ponds. </p> -->

 <p class="card"><img src="./assets/images/Kuntala-waterfalls1.jpg"></p>
 
 <!-- <p>he waterfall originates from a confluence of several ponds that lead to the river Kadem.
Formed by the Kadam River, Kuntala falls cascades down through two steps a
nd can be seen as two separate adjacent falls after the peak rains.

 It is one of the famous one day outings from Hyderabad. 
 There is a motorable road until the entry point of the falls, from where steps are available to reach the bottom of the falls. 
The falls are about 10 minutes (one way) walk from the entry point.
</p>  -->

